*{
  padding: 0;
  margin: 10;
  border-spacing: 80px;
  /* background-color: rgb(57, 8, 137); */
  
  border-radius: red;
}
.next-btn{

  height: 40px;
  justify-content: right;
  margin-top: 30px;
  padding: 5px;
  text-align: center;
  color:blue;
  text-shadow: skyblue;

}
